#hcit
  .row-fluid
    .span7.hero-unit{:style=>"background-color: white; padding: 10px"}
      .span7
        %h1 
          How Cute Is This?
          %br
          %a.button{:href=>"#"} Mobile Download
        %ul.unstyled
          %li
            .row
              .span1
                =image_tag "hcit/magenta_bag.png"
              .span4
                %h3 Shop It!
                %p Like to shop? Wish you could ask your friends "How Cute Is This?" even if they are far away? Now you can. You can be asking your friends in seconds.
          %li
            .row
              .span1
                =image_tag "hcit/omg!_2.png"
              .span4
                %h3 Share It!
                %p 
                  Now that you found that special item. 
                  %b Ask it. Wear it. Share it.
          %li
            .row
              .span1
                =image_tag "hcit/trndsttr_3.png"
              .span4
                %h3 Show It!
                %p Show your friends or the world your shopping skills; or, just show them what you just bought!  