%td ${name}

%td.links
  = link_to t("links.show"), "#/${id}".html_safe, :class => "show"
  = link_to t("links.edit"), "#/${id}/edit".html_safe, :class => "edit"
  = link_to t("links.destroy"), "#/${id}/destroy".html_safe, :class => "destroy", :confirm => t("links.confirm")
