.row
  .span16.columns
    .page-header
      %h1= t(".title")
      %ul.tabs
        %li
          = link_to t("links.new", :resource => Closet.model_name.human), "#/new"

.row
  .span16.columns
    %table#closets_table.zebra-striped
      %thead
        %tr
          %th= Closet.human_attribute_name(:name)
          %th
      %tbody

#pagination-container
