.row
  .span16.columns
    .page-header
      %h1= t(".title")
      %ul.tabs
        %li
          = link_to t("links.back"), "#/index"

= render :partial => "form", :locals => { :form_type => "new" }
