<h1>Edit closet</h1>

<form id="edit-closet" name="closet">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Closet" />
  </div>

</form>

<a href="#index">Back</a>