<h1>Listing Clothing Items</h1>

<table id="clothing-items-table">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/<%= closet_id %>/clothing_items/new">New Clothing Item</a>