<h1>Listing Clothing Items</h1>



<a href="#">New Clothing Item</a>

<div id="previousResultPage"><a href="">Previous</a></div>
<div id="nextResultPage"><a href="">Next</a></div>
<div id="pagination"></div>
<ul class='thumbnails' id="clothing-items"></ul>


