<h1>Browse Clothing Items <a href="#" class="btn"><i class="icon-plus"></i>Add New Item</a></h1>



<span id="previousResultPage"><a href="" class="btn"><i class="icon-arrow-left"></i>Previous</a></span>
<span id="nextResultPage"><a href="" class="btn"><i class="icon-arrow-right"></i>Next</a></span>
<div id="pagination"></div>
<ul class='thumbnails' id="clothing-items"></ul>


