- title "Linked Clothing Item"

%p
  %strong Item Url:
  = @linked_clothing_item.item_url

%p
  = link_to "Edit", edit_linked_clothing_item_path(@linked_clothing_item)
  |
  = link_to "Destroy", @linked_clothing_item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", linked_clothing_items_path
