.container
	.bottomLoading
		%span
			%img{:alt => "", :src => "img/beat2.png"}/
			Loading
	.backtotup
		%a{:href => "#"}
		%span.caret/
.container
	%hr
	%p.pull-right
		%a{:href=>"#"} Back to top

	%p Copyright 2012 Style du Jour, Inc

	%ul.footer-links
		%li=link_to "home", home_url    