.row-fluid
  .span2#side-navigation
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Menu
        %li.active
          %a{:href=>"#{home_path}"}
            %i.icon-home
            Home
        %li
          %a{:href=>"#{hcit_index_path}"}
            %i.icon-play
            HCIT
  .span4#activity-feed
    .span4
      =# render :partial => "activities/index",:locals => { :activities => current_subject.wall(:home).page(params[:page]),:owner => current_subject }
      = render :partial => 'activities/wall',:locals  => { :activities => current_subject.wall(:home).page(params[:page]),:owner => current_subject }
  .span4#right-rail
    .span2
      Extra text