= render :partial => "menu"
%h1.span12{:style=>"text-align:center"} My Scores
#hcit

- if @clothing_items
  %ul.thumbnails
    - @clothing_items.each do |clothing|
      = render :partial => 'clothing_items/mini_item', :locals => {:item => clothing, :little_menu=>true, :show_my_score=>true}
      
- else
  %h3 You have not played yet!  Start answering now!
