<h1>Your</h1>

<table id="linked_clothing_items-table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Imageurl</th>
    <th>Item url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Linked clothing item</a>