- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = image_tag "#{provider}_32.png"
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :data=>{:ajax=>"false"}
    %br/